---
name: CI

on:
  pull_request:
    branches:
      - main
      - "v*"

jobs:
  validate-lint-and-unit-test:
    name: Run validation, linters and unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4"]
        experimental: [false]
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Validate
        shell: bash
        run: make validate-composer

      - name: Install dependencies
        shell: bash
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Lint
        shell: bash
        run: make lint

      - name: Check repo status
        shell: bash
        run: |
          repo_status=$(git status --porcelain)
          if [[ ! -z "${repo_status}" ]]; then
            echo "::error::Uncommitted changes detected"
            echo "${repo_status}"
            git status -vv
            exit 1
          fi

      - name: Run unit tests
        shell: bash
        run: make test
